<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="collection task">
    <meta name="keywords" content="collection task">
    <title>taskmanage</title>
    <!-- Favicons-->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png">
    <link rel="icon" href="/images/favicon/favicon-32x32.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS-->
    <link rel="stylesheet" href="/elementUI/css/elementUI.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 生产环境版本，优化了尺寸和速度 -->
    <!--    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>-->

    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        html, body, main {
            height: 100%;
        }

        #navul li {
            cursor: pointer;
            font-weight: bold;
            padding-left: 20px;
        }
    </style>
</head>
<body>
<header>

</header>

<div th:id="app" v-loading="jobInfoLoading">

    <el-menu :default-active="activeNavIndex" class="el-menu-demo" mode="horizontal" @select="handleNavSelect">
        <el-menu-item index="a5">A5</el-menu-item>
        <el-menu-item index="zbj">猪八戒</el-menu-item>
        <el-menu-item index="ypwk">一品威客</a></el-menu-item>
    </el-menu>
    <div v-if="jobInfo && jobInfo.platform" :gutter="20">
        <el-row class="row">
            <el-col :span="4">
                <div class="grid-content bg-purple">
                    平台名称 : {{jobInfo.platform}}
                </div>
            </el-col>
        </el-row>
        <el-row class="row">
            <el-col :span="4">
                <div class="grid-content bg-purple">
                    任务状态 :
                    <el-switch
                            v-model="jobInfo.running"
                            @change="switchJob"
                            active-color="#13ce66"
                            inactive-color="#ff4949">
                    </el-switch>
                </div>
            </el-col>
        </el-row>
        <el-row class="row">
            <el-col :span="4">
                <div class="grid-content bg-purple">
                    {{ jobInfo.running == true ? '启动时间 : ' : '停止时间 : ' }}
                    <span>{{ jobInfo.running ? jobInfo.startDateTime : jobInfo.stopDateTime }}</span>

                </div>
            </el-col>
        </el-row>
        <el-row class="row">
            <el-col :span="4">
                <div class="grid-content bg-purple">
                    采集数量 : {{jobInfo.collectionCount}}
                </div>
            </el-col>
        </el-row>
        <el-row class="row">
            <el-col :span="24">
                <div class="grid-content bg-purple">
                    日志 : {{jobInfo.log}}
                </div>
            </el-col>
        </el-row>
    </div>
</div>

<!--<footer class="page-footer">-->

<!--</footer>-->

<!--  Scripts-->
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/jquery.timeago.min.js"></script>
<script src="/js/prism.js"></script>
<script src="/js/lunr.min.js"></script>
<script src="/js/search.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>
<script src="/js/ajax.js"></script>
<script>

</script>

<script>
    new Vue({
        el: '#app',
        components: {},
        prop: {},
        //这里存放数据
        data() {
            return {
                activeNavIndex: 'a5',
                value: true,
                jobInfo: {
                    platform: 'a5'
                },
                jobInfoLoading: false,
                show: false,
                getTaskStatusTimer: null
            }
        },
        //计算属性 类似于 data 概念
        computed: {},
        //监控 data 中的数据变化
        watch: {},
        //方法集合
        methods: {
            startGetTaskStatusTimer() {
                this.jobInfoLoading = true;
                this.getTaskStatusTimer = setInterval(() => {
                    this.getJobStatus(this.jobInfo.platform);
                }, 1000);
            },
            stopGetTaskStatusTimer() {
                if (this.getTaskStatusTimer) {
                    clearInterval(this.getTaskStatusTimer)
                    this.getTaskStatusTimer = null;
                }
            },
            handleNavSelect(key, keyPath) {
                this.stopGetTaskStatusTimer();
                this.platformClick(keyPath[0]);
            },
            switchJob() {
                this.jobInfoLoading = true;
                if (this.jobInfo.running) {
                    this.startJob(this.jobInfo.platform);
                } else {
                    this.stopJob(this.jobInfo.platform);
                }
            },
            platformClick(platform) {
                this.jobInfoLoading = true;
                this.jobInfo.platform = platform;
                this.getTaskStatusTimer || this.startGetTaskStatusTimer();
            },
            getJobStatus(platform) {
                POST({
                    url: "/job/getJobStatus"
                    , data: {platform}
                    , finally: (res) => {
                        this.jobInfo = res.data;
                        this.jobInfoLoading = false;
                    }
                })
            },
            startJob(platform) {
                POST({
                    url: "/job/start"
                    , data: {platform}
                    , finally: (res) => {
                        console.log(res);
                    }
                })
            },
            stopJob(platform) {
                POST({
                    url: "/job/stop"
                    , data: {platform}
                    , finally: (res) => {
                        console.log(res.data);
                    }
                })
            }
        },
        //生命周期 - 创建完成（可以访问当前 this 实例）
        created() {

        }
        ,
        //生命周期 - 挂载完成（可以访问 DOM 元素）
        mounted() {
            this.startGetTaskStatusTimer();
        }
        ,
        beforeCreate() {
        }
        ,//生命周期 - 创建之前
        beforeMount() {
        }
        ,//生命周期 - 挂载之前
        beforeUpload() {
        }
        ,//生命周期 - 更新之前
        updated() {
        }
        , //生命周期 - 更新之后
        beforeDestroy() {
        }
        , //生命周期 - 销毁之前
        destroyed() {
        }
        ,//生命周期 - 销毁完成
        activated() {
        }
        , //如果页面有 keep-alive 缓存功能，这个函数会触发

    })
</script>

</body>
</html>