<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="collection task">
    <meta name="keywords" content="collection task">
    <title>collection task</title>
    <!-- Favicons-->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png">
    <link rel="icon" href="/images/favicon/favicon-32x32.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS-->
    <link href="/css/prism.css" rel="stylesheet">
    <link href="/css/ghpages-materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/css/materializecss-font.css" rel="stylesheet" type="text/css">
    <style>
        html, body, main{
            height: 100%;
        }
    </style>
</head>
<body>
<header>

</header>

<main>

</main>

<!--<footer class="page-footer">-->

<!--</footer>-->

<!--  Scripts-->
<script src="/js/jquery-2.1.4.min.js"></script>
<script src="/js/jquery.timeago.min.js"></script>
<script src="/js/prism.js"></script>
<script src="/js/lunr.min.js"></script>
<script src="/js/search.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>
<script src="/js/ajax.js"></script>
<script>

</script>

</body>
</html>